{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        {% for apt in apts %}
        <tr>
            <td>
                <a href="/admin/apts/detail/{{  apt.id }}">{{ apt.name }}</a>
            </td>
            <td>
                {{ apt.dateFormat( apt.createdAt ) }}
            </td>
            <td>
                <a href="/admin/apts/delete/{{ apt.id }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/apts/write" class="btn btn-default">작성하기</a>

{% endblock %}